<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Shopee | TOP50 Shopping list</title>
</head>
<body class="fixed skin-black-light sidebar-mini sidebar-mini-expand-feature" style="height: auto; min-height: 100%;" data-gr-c-s-loaded="true">
<link rel="stylesheet" href="/stylesheets/datepicker.css">
<link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">


<script src="/static/jquery/dist/jquery.min.js"></script>
<!-- <script src="/static/bootstrap/dist/js/jquery.min.js"></script> -->

<script>
document.addEventListener("DOMContentLoaded", event => {});
// (($) => {})(jQuery);
</script>
</body>
</html>